form{
	display: flex;
	justify-content: center;	
	width: 100vw;
	margin-bottom: 10px;
}

input{
	border: 1px solid #ccd6f6;
	margin-right:15px;
	border-radius: 2px;
	outline: none;
}

button{
	background-color: inherit;
	color: rgb(100,255,218);
	border: 1px solid rgb(100,255,218);
	border-radius: 2px;
	padding: 7px 10px;  
}